/* background color */

$primary-color: white;
$primary-color-dark: #a9bfe4;
$primary-color-light: rgba(169, 191, 228, 0.3);

/* text color */
$primary-text-color: white;

/* indents */
$std-indent: 150px;
